@import '../node_modules/bootstrap/dist/css/bootstrap.css';

@mixin flexAlen($hor: center, $ver: center, $dir: row) {
    display: flex;
    justify-content: $hor;
    align-items: $ver;
    flex-direction: $dir;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;
    height: 688px;
    background-color: #f6f2f2;

    @media screen and (max-width: 991px) {
        height: 100%;
    }

    .drop-menu {
        width: 100%;
        height: 89px;
        background-color: rgba(0, 0, 0, .8);
        padding: 0 15px;
        box-sizing: border-box;
        @include flexAlen(flex-start);
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;

        @media screen and (max-width: 575px) {
            display: flex;
        }

        .menu-button {
            width: 45px;
            height: 45px;
            border: 2px solid #e0e0e0;
            border-radius: 5px;
            background-color: transparent;
            @include flexAlen();
            display: none;

            @media screen and (max-width: 575px) {
                display: flex;
            }

            &__line {
                width: 30px;
                height: 2px;
                background-color: #e0e0e0;
                position: relative;
                

                &::after {
                    content: '';
                    width: 30px;
                    height: 2px;
                    background-color: #e0e0e0;
                    position: absolute;
                    left: 0;
                    top: 8px;
                }

                &::before {
                    content: '';
                    width: 30px;
                    height: 2px;
                    background-color: #e0e0e0;
                    position: absolute;
                    left: 0;
                    bottom: 8px;
                }
            }
        }

        #opener {
            display: none;
        }

        #opener:checked ~.menu-button > .menu-button__line {
            background: transparent;
        }

        #opener:checked ~.menu-button > .menu-button__line::after {
            transform: rotate(-45deg);
            top: 0;
        }

        #opener:checked ~.menu-button > .menu-button__line::before{
            transform: rotate(45deg);
            bottom: 0;
        }

        #opener:checked ~.dropdown{
            height: 40vh;
        }
    }

    .dropdown {
        width: 100%;
        height: 0;
        position: fixed;
        left: 0;
        top: 89px;
        z-index: 1;
        transition: 1s;
        @include flexAlen($dir: column);
        background-color: rgba(0, 0, 0, .8);
        
        &__item {
            text-decoration: none;
            text-transform: uppercase;
            color: #e0e0e0;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.49px;
            line-height: 24px;
            margin-bottom: 15px;
            overflow: hidden;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .nav {
        width: 100%;
        height: 89px;
        background-color: rgba(0, 0, 0, .8);
        @include flexAlen();

        @media screen and (max-width: 575px) {
            display: none;
        }

        &__text {
            white-space: nowrap;
        }

        &__item {
            height: 89px;
            @include flexAlen();
            text-decoration: none;
            text-transform: uppercase;
            color: #e0e0e0;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.49px;
            line-height: 24px;
            padding: 0 2%;
            box-sizing: border-box;
            cursor: pointer;

            &:hover {
                background-color: #ff3f40;
            }
        }
    }

    &__nav {
        margin-bottom: 100px;

        @media screen and (max-width: 575px) {
            margin-bottom: 40px;
        }
    }

    

    

    &__vidio {
        width: 100%;
        @include flexAlen(flex-end);

        @media screen and (max-width: 991px) {
            justify-content: center;
            margin-bottom: 40px;
        }
    }

}

.intro {
    width: 100%;
    @include flexAlen(space-between, flex-start, column);

    @media screen and (max-width: 1199px) {
        margin-bottom: 40px;
    }

    @media screen and (max-width: 991px) {
        margin-bottom: 40px;
    }

    @media screen and (max-width: 575px) {
        margin-top: 115px;
        box-sizing: border-box;
    }

    &_small {
        margin-top: 0;
        
    }

    &__title {
        width: 100%;
        color: #000000;
        font-size: 60px;
        font-weight: bold;
        line-height: 72px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-bottom: 28px;

        @media screen and (max-width: 1199px) {
            font-size: 49px;
            line-height: 60px;
        }

        @media screen and (max-width: 575px) {
            font-size: 30px;
            line-height: 40px;
            letter-spacing: 0;
        }

        &_small {
            opacity: 0.8;
            font-size: 42px;
            font-weight: 700;
            line-height: 55px;
            letter-spacing: 0.42px;
            margin-top: -8px;

            @media screen and (max-width: 575px) {
                font-size: 30px;
                line-height: 40px;
                letter-spacing: 0;
            }
        }
    }

    &__text {
        width: 100%;
        padding-right: 80px;
        box-sizing: border-box;
        color: rgba(0, 0, 0, .7);
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 45px;

        @media screen and (max-width: 575px) {
            padding-right: 0;
        }

        &_small {
            opacity: 1;
        }
    }

    &__btn {
        width: 227px;
        height: 55px;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.32px;
        text-transform: capitalize;

        @media screen and (max-width: 575px) {
            width: 100%;
        }

        &_transparent {
            color: #ff0000;;
            border-color: #ff0000;
        }

        &_full {
            background-color: #ff2d2d;
        }
    }
}

.main {
    .service {
        width: 100%;
        padding: 110px 0 70px;
        box-sizing: border-box;

        @media screen and (max-width: 575px) {
            padding: 40px 0;
        }

        .services__item {
            width: 100%;
            @include flexAlen(space-between, flex-start, column);
            color: rgba(0, 0, 0, .7);

            &-img {
                margin-bottom: 20px;
            }

            &-title {
                font-size: 24px;
                font-weight: 700;
                letter-spacing: 0.27px;
                margin-bottom: 10px;
            }

            &-text {
                font-size: 15px;
                font-weight: 400;
                line-height: 28px;
                margin-bottom: 40px;

                &_last {
                    @media screen and (max-width: 575px) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .line {
        width: 100%;
        height: 2px;
        background-color: #ececec;
    }

    .chapter {
        width: 100%;
        @include flexAlen($dir: column);
        color: #000000;

        &_team {
            align-items: flex-start;
            padding-bottom: 70px;
            box-sizing: border-box;
        }

        &__title {
            opacity: 0.8;
            font-size: 42px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.38px;
            margin-bottom: 10px;
            text-align: center;

            &_team {
                margin-left: -10px;
            }
        }

        &__text {
            opacity: 0.7;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 25px;
            text-align: center;

            &_team, &_mes {
                text-align: left;
            }
        }

        &__line {
            width: 132px;
            height: 3px;
            background-color: #ff2d2d;
        }
    }

    .products {
        width: 100%;
        padding: 90px 0 50px;
        box-sizing: border-box;

        @media screen and (max-width: 575px) {
            padding: 40px 0 0;
        }

        &__links {
            width: 100%;
            @include flexAlen(space-between);
            padding: 80px 0 60px;
            box-sizing: border-box;

            @media screen and (max-width: 991px) {
                flex-wrap: wrap;
                justify-content: space-around;
            }

            @media screen and (max-width: 575px) {
                padding: 40px 0;
            }


            &-item {
                color: rgba(0, 0, 0, .7);
                font-size: 22px;
                font-weight: 600;
                line-height: 24px;
                text-transform: uppercase;
                letter-spacing: 0.22px;
                text-decoration: none;

                @media screen and (max-width: 991px) {
                    margin-right: 20px;
                    margin-bottom: 15px;
    
                    &:last-child {
                        margin-right: 0;
                    }
                }

                &:hover {
                    color: #ff2d2d;
                }
            }
        }

        &__cards {
            &-item {
                width: 100%;
                background: url('../images/unnamed.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom: 20px;

                &::after {
                    content: '';
                    display: block;
                    padding-bottom: 100%;
                }
            }
        }


    }

    .team {
        width: 100%;
        padding: 50px 0 90px;
        box-sizing: border-box;

        @media screen and (max-width: 575px) {
            padding: 40px 0;
        }

        &__flip {
            width: 112%;
            height: 432px;
            position: relative;
            perspective: 900px;
            margin-bottom: 20px;

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            &:hover {
                .team__flip-card_front {
                    transform: rotateY(180deg);
                }

                .team__flip-card_back {
                    transform: rotateY(0);
                    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
                }
            }

            &-card {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: 1s;
                backface-visibility: hidden;

                &_front {
                    background: #ff3f40;
                }

                &_back {
                    transform: rotateY(-180deg);
                }
            }
        }

        &__content {
            width: 100%;
            @include flexAlen(flex-start, flex-start, column);
            position: relative;
            left: -30px;
            margin-bottom: 60px;

            @media screen and (max-width: 767px) {
                left: 0;
            }
        }

        &__title {
            width: 100%;
            opacity: 0.8;
            color: #000000;
            font-size: 30px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.28px;
            margin-bottom: 20px;
        }

        &__text {
            width: 100%;
            @include flexAlen(flex-start, flex-start);
            color: rgba(0, 0, 0, .7);
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 40px;
        }

        &__links {
            width: 100%;
            @include flexAlen(flex-start, flex-start);

            @media screen and (max-width: 575px) {
                @include flexAlen(center, center, column);
            }

            &-item {
                color: rgba(0, 0, 0, .8);
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.9px;
                text-transform: capitalize;
                font-style: italic;
                margin-right: 30px;
                text-decoration: none;

                @media screen and (max-width: 575px) {
                    margin-right: 0;
                    margin-bottom: 10px;
                }

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__cards {
            width: 104%;
            position: relative;
            left: -30px;

            @media screen and (max-width: 767px) {
                width: 100%;
                left: 0;
            }

            &-item {
                width: 100%;
                background: url('../images/unnamed.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                @include flexAlen($ver: flex-end);
                margin-bottom: 20px;

                &::after {
                    content: '';
                    display: block;
                    padding-bottom: 112%;
                }

                &:hover > .team__cards-item-plate {
                    display: flex;
                }

                &-plate {
                    width: 100%;
                    height: 37px;
                    background-color: rgba(0, 0, 0, .5);
                    text-transform: uppercase;
                    color: #ffffff;
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 0.17px;
                    @include flexAlen();
                    display: none;
                }
            }
        }

    }

    .form-container {
        width: 100%;
        background-color: #f5f0dd;
        padding: 140px 0;
        box-sizing: border-box;

        @media screen and (max-width: 767px) {
            padding: 40px 0;
        }
    }

    .inter-form {
        width: 100%;
        height: 230px;
        @include flexAlen($hor: space-between, $dir: column);

        @media screen and (max-width: 991px) {
            height: 330px;
            align-items: flex-start;
        }

        @media screen and (max-width: 575px) {
            height: 100%;
        }

        &__title {
            color: rgba(white, .8);
            font-size: 40px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 1.05px;

            @media screen and (max-width: 1199px) {
                font-size: 33px;
                line-height: 33px;
            }

            @media screen and (max-width: 575px) {
                margin-bottom: 15px;
                font-size: 25px;
            }
        }

        &__text {
            color: rgba(white, .8);
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;

            @media screen and (max-width: 575px) {
                margin-bottom: 15px;
            }
        }

        &__field {
            width: 521px;
            height: 79px;
            background-color: #ffffff;
            outline: none;
            border: none;
            border-radius: 4px;
            padding: 0 35px;
            box-sizing: border-box;
            color: rgba(#2c2c2c, .7);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.4px;
            margin-right: 20px;

            @media screen and (max-width: 991px) {
                margin-right: 0;
                margin-bottom: 15px;
            }

            @media screen and (max-width: 575px) {
                width: 100%;
            }
        }

        &__button {
            width: 214px;
            height: 79px;
            background-color: #ff2d2d;
            outline: none;
            border: none;
            border-radius: 4px;
            color: #ffffff;
            font-size: 18px;
            font-weight: 700;
            line-height: 34.06px;
            text-transform: uppercase;
            letter-spacing: 0.32px;

            @media screen and (max-width: 575px) {
                width: 100%;
            }
        }

    }

    .message {
        padding: 90px 0 100px;
        box-sizing: border-box;

        @media screen and (max-width: 575px) {
            padding: 40px 0;
        }

        .inputs {
            width: 103%;
            height: 485px;
            @include flexAlen(space-between, space-between, column);

            @media screen and (max-width: 1199px) {
                width: 100%;
                margin-bottom: 30px;
            }

            @media screen and (max-width: 575px) {
                height: 495px;
            }

            &__two-inputs {
                width: 100%;
                @include flexAlen(space-between);

                @media screen and (max-width: 575px) {
                    flex-wrap: wrap;
                }
            }

            &__name, &__email {
                width: 46%;
                height: 69px;
                background-color: #e5e5e5;
                outline: none;
                border: none;
                border-radius: 7px;
                padding: 0 45px;
                box-sizing: border-box;
                color: #707070;

                @media screen and (max-width: 575px) {
                    width: 100%;
                }
            }

            &__name {
                @media screen and (max-width: 575px) {
                    margin-bottom: 10px;
                }
            }


            &__message {
                width: 100%;
                height: 249px;
                background-color: #e5e5e5;
                outline: none;
                border: none;
                border-radius: 7px;
                padding: 35px 45px;
                box-sizing: border-box;
                color: #707070;
            }

            &__button {
                width: 100%;
                height: 79px;
                background-color: #ff2d2d;
                outline: none;
                border: none;
                border-radius: 4px;
                color: #ffffff;
                font-size: 18px;
                font-weight: 700;
                line-height: 34.06px;
                text-transform: uppercase;
                letter-spacing: 0.32px;
            }
        }

        .side {
            width: 160%;
            height: 485px;
            background-color: #2d2d2d;
            @include flexAlen(space-between);
            padding-left: 80px;
            box-sizing: border-box;
            position: relative;
            top: 0;
            left: -15px;

            @media screen and (max-width: 1500px) {
                width: 117%;
            }

            @media screen and (max-width: 1199px) {
                width: 100%;
                left: 0;
            }

            @media screen and (max-width: 575px) {
                height: 290px;
            }

            &__content {
                width: 100%;
                height: 190px;
                @include flexAlen(space-between, flex-start, column);
            }

            &__title {
                color: rgba(white, .8);
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.32px;
            }

            &__text {
                color: rgba(white, .8);
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}

.footer {
    width: 100%;
    background-color: #2d2d2d;

    .copy {
        width: 100%;
        height: 110px;
        @include flexAlen();
        color: #b8b8b8;
        font-size: 16px;
        font-weight: 400;
        padding-top: 20px;
        box-sizing: border-box;

        @media screen and (max-width: 767px) {
            height: 60px;
            padding: 0;
        }
    }

    .social {
        width: 100%;
        height: 110px;
        @include flexAlen(space-between);
        padding-top: 5px;
        box-sizing: border-box;

        @media screen and (max-width: 767px) {
            height: 80px;
            padding: 0;
        }
    }
}